
@{
    Layout = null;
}
@model _06_EjercicioRecopilatorio_ASP.Models.ViewModels.Personas

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form method = "post" action ="">
            <p>Personas</p>
            @Html.DropDownListFor(m => m.idPersona, new SelectList(Model.listado.personas, "idPersona", "nombre"))

            <input type="submit" name="enviar" value="Enviar"/>
        </form>
    </div>
</body>
</html>
